{% extends 'index.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/create_password.css')}}"
/>
{% endblock %} {% block content %}
<main>
  <section class="imgage-content form-content">
    <div class="img">
      <img src="{{url_for("static", filename="images/password.svg")}}"
      alt="signup image" loading="lazy">
    </div>
  </section>

  <section class="form-content form-container">
    <form action="" method="post">
      <h3>Criar palavra-passe</h3>
      {{form.hidden_tag()}}
      <div class="data-input">
        {{form.password(class="form-control")}}
        {{form.password_confirm(class="form-control")}} {% if
        form.password.errors %}
        <ul>
          {% for error in form.password.errors %}
          <li class="error">{{error}}</li>
        </ul>
        {% endfor %} {% endif %} {{form.submit()}}
      </div>
    </form>
  </section>
</main>
{% endblock %}
