{% extends 'index.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %} {% block content %}
<main>

  <div class="alert">
    {% with messages = get_flashed_messages(with_categories = True) %}
      {% if messages %}
        {% for category, message in messages %}
      <div class="alert-content {{category}}">
        {{message}}
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
  
  </div>

  <div class="dashboard">
    <div class="sub"><img class="sub-menu" src="{{url_for('static', filename='images/submenu.svg')}}" alt=""></div>
    <aside class="sidebar-menu">
      <nav class="dashboard-menu">
        <div class="sidebar-header">
          <span class="close">&times;</span>
        </div>
        <a href="#" class="sub-menu-icon"><img class="sub-icon" src="{{url_for('static', filename='images/book.svg')}}" alt="">Posts</a>
        <button href="#" class="sub-menu-icon" id="write"><img class="sub-icon" src="{{url_for('static', filename='images/write.svg')}}" alt="">Escrever</button>
      </nav>
    </aside>
    <!-- User side -->
      <section class="content">
        <div class="header-content">
          <div class="header-info">
            <div class="header-card">
              <div class="profile-pic">
                <img src="{{url_for('static', filename='images/user.svg')}}" alt="">
              </div>
              <div class="info">
                <h3 style="color: #2ecc71; font-weight: 500;">Informações do perfil</h3>
                <p>
                  Nome: <span>{{current_user.name}}</span>
                 </p>
                 <p>Email: <span>{{current_user.email}}</p></span>
              </div>
            </div>
            <div class="user-actions">

              <a href="{{url_for('user.logout')}}" class="sub-menu-icon"><img class="sub-icon" id="logout" src="{{url_for('static', filename='images/logout.svg')}}" alt="">Sair</a>
              <button class="sub-menu-icon edit-user"><img class="sub-icon" id="logout" src="{{url_for('static', filename='images/write.svg')}}" alt="">Editar</button>
              <a href="#" class="sub-menu-icon"><img class="sub-icon" id="logout" src="{{url_for('static', filename='images/delete.svg')}}" alt="">Eliminar conta</a>
            </div>
          </div>  
          </div>
      </section>

      <!-- User edit section -->
      <section class="user-edit-form">
        <div class="edit-user-content">
          <span class="close-user-form" style="font-size: 26px; cursor: pointer;">&times;</span> <!-- Alterado aqui -->
          <h2>Atualizar dados</h2>
          <form action="{{url_for('user.edit_user', id=current_user.id)}}" method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <input type="text" name="name" placeholder="Nome" class="user-edit" value="{{current_user.name}}">
            <input type="email" name="email" placeholder="Email" class="user-edit" value="{{current_user.email}}">
            <input type="submit" value="Atualizar">
          </form>
        </div>
      </section>


      <section class="posts">
        <h2>Artigos publicados</h2>

        <div class="post-content">
          {% if posts %}
            {% for post in posts %}
            <div class="post-card">
              <img src="" alt="">
              <h3 id="title{{post.id}}">{{post.title}}</h3>
              <p id="content{{post.id}}">
                {{post.content | safe | truncate(100, False, '...')}}
              </p>
              <span>Publicado em: {{post.published_date}}</span>
              <div class="actions">
                <button class="action btn-edit"
        id="{{ post.id }}"
        data-title="{{ post.title }}"
        data-content="{{ post.content|e }}"> 
        <img class="action-icon" src="{{ url_for('static', filename='images/edit2.svg') }}" alt="">Editar
      </button>

                <button class="action btn_delete" id="{{post.id}}"> <img class="action-icon" src="{{url_for('static', filename='images/delete.svg')}}" alt="">Eliminar</button>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <p style="justify-content: center;">Sem posts publicados </p>
          {% endif %}
          
      </section>
    </div>
    <section class="new-post">
      <div class="new-post-content">
        <span class="close-post">&times;</span>
        <h2>Criar Novo Post</h2>
        <form action="" method="post" enctype="multipart/form-data">
           {{form.hidden_tag()}}
           {{form.title}}
           {{form.content|safe}}
           {{form.image}}
           {{form.submit}}
          </form>
      </div>
  </section>

  <section class="delete">
    <div class="delete_post">
      <form id="delete-form" method="post">
        {{form.hidden_tag()}}
        <p>Certeza que deseja eliminar o post?</p>
        <div class="delete-modal-buttons">
          <button type="submit" class="btn-confirm">Confirmar</button>
          <input type="reset" id="modal_delete" value="Cancelar">       
        </div>
      </form>
    </div>
  </section>

  <section class="edit">
    <div class="edit_post">
      <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.title}}
        <textarea name="edit_content" id="edit_content"></textarea>
        {{form.image}}
        {{form.submit}}
        {{ ckeditor.config(name='edit_content') }}
       </form>
    </div>
  </section>
  </div>
  {{ ckeditor.load() }} <!--Carrgar o ckEditor-->
  {{ ckeditor.config(name='content') }} <!--O elemento do formulário que receberá o-->
</main>
<script>
  let close_button = document.querySelector(".close");
  let dashboard_menu = document.querySelector(".sidebar-menu");
  let open_button = document.querySelector(".sub-menu");
  let main_content = document.querySelector(".content");

  let btn_delete = document.querySelectorAll(".btn_delete");
  let btn_edit = document.querySelectorAll(".btn-edit");
  let modal_delete = document.getElementById("modal_delete");
  let id;

  const btnEdit_user = document.querySelector(".edit-user");

  function closeSidebar() {
    if (window.innerWidth <= 768) {
      dashboard_menu.style.width = "0";
      main_content.style.marginLeft = '0';
      close_button.style.display = 'block';
    } else {
      dashboard_menu.style.width = "200px";
      main_content.style.marginLeft = '200px';
    }
  }

  function openSidebar() {
    dashboard_menu.style.display = "flex";
    dashboard_menu.style.width = "100%";
  }

  window.addEventListener("resize", closeSidebar);
  window.addEventListener("load", closeSidebar);

  close_button.addEventListener("click", closeSidebar);
  open_button.addEventListener("click", openSidebar);

  // Botão "Fechar" modal novo post
  document.querySelector(".close-post").addEventListener("click", () => {
    document.querySelector(".new-post").classList.remove("active");
  });

  // Botão "Fechar" modal de editar usuário
  document.querySelector(".close-user-form").addEventListener("click", () => {
    document.querySelector(".user-edit-form").classList.remove("active");
  });

  // Botão "Novo post"
  document.getElementById("write").addEventListener("click", () => {
    document.querySelector(".new-post").classList.add("active");
  });

  // Botão "Editar usuário"
  btnEdit_user.addEventListener("click", () => {
    document.querySelector(".user-edit-form").classList.add("active");
  });

  let delete_post = document.querySelector(".delete");

  // Modal delete
  btn_delete.forEach((btn) => {
    btn.addEventListener("click", function () {
      id = btn.getAttribute("id");
      delete_post.classList.add("active");
      document.getElementById("delete-form").action = `delete_post/${id}`;
    });
  });

  // Modal editar post
  btn_edit.forEach((btn) => {
    btn.addEventListener("click", function () {
      id = btn.getAttribute("id");
      const title = btn.dataset.title;
      const content = btn.dataset.content;
      document.querySelector(".edit").classList.add("active");

      setTimeout(() => {
        let ckeditorInstance = CKEDITOR.instances['edit_content'];
        if (ckeditorInstance) {
          ckeditorInstance.setData(content); // Preenche o editor com o conteúdo
        } else {
          console.warn("CKEditor não foi encontrado.");
        }
      }, 200);
    });
  });

  modal_delete.addEventListener("click", () => {
    console.log("Fechou modal");
    delete_post.classList.remove("active");
  });

  // Fechar o alerta depois de 3 segundos
  let alertInfo = document.querySelector(".alert-content");

  setInterval(() => {
    if (alertInfo && alertInfo.innerText) {
      document.querySelector(".alert").style.display = "none";
    }
  }, 3000);
</script>


{% endblock %}
