{% extends 'index.html' %} {% block head %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161b22;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-content {
    padding: 50px;
    margin-top: 50px;
    color: #fff;
    background-color: #2ecc7081;
    text-align: center;
    width: 100%;
  }
  .container-content h1 {
    font-size: 50px;
    font-weight: bold;
  }
  .post-content {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;

    width: 80vw;
  }
  .user-post {
    width: 100%;
  }
  .user-post h1 {
    margin-bottom: 10px;
    font-size: 26px;
  }
  .user-post p {
    margin-bottom: 5px;
  }
  .ads-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
  }
  .ad {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
  }
</style>
{% endblock %} {% block content %}
<main>
  <section class="container-content">
    <article>
      <h1 style="color: #fff">{{post.title}}</h1>
      <p>Por: {{post.author.name}}</p>
      <span>Publicado em:{{post.published_date.strftime("%d/%m/%Y")}}</span>
    </article>
  </section>

  <section class="post-content">
    <aside class="anunce-container"></aside>
    <article class="user-post">
      <p>{{post.content|safe}}</p>
    </article>
  </section>
</main>
{% endblock %}
